* {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

html, body, .login, .left, .right {
	height: 100%;
}
body{
	
}

* {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

html, body, .login, .left, .right {
	height: 100%;
}

.red {
	color: #f00;
}

.f {
	float: left;
}

input {
	vertical-align: middle;
}

.header {
	height: 116px;
	line-height: 116px;
	background-color: white;
}

.head {
	width: 1000px;
	margin: 0 auto;
	background: url(../images/logo.png) left center no-repeat;
	text-indent: 100px;
	font-family: Microsoft YaHei;
	font-size: 36px;
	color: #666;
}
.content-bg{
	background-image: url(../images/content.png);
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    padding-bottom: 50px;
}
.content {
	width: 1000px;
	margin: 0 auto;
}

.footer {
	height: 200px;
}

.foot {
	width: 80%;
	margin: 0 auto;
	font-family: Simsun;
	font-size: 12px;
	color: #333;
	padding: 70px 0px 30px;
}

.foot-f {
	width: 70%;
}

.mf20 {
	margin-left: 20px;
}

.mr20 {
	margin-right: 20px;
}


.con-row {
	
}

.con-row ul li {
	float: left;
	/*border-bottom:1px solid #ccc;*/
	width: 33%;
	line-height: 60px;
	text-align: center;
	position: relative;
	padding-bottom: 20px;
}

.con-row ul li span {
	position: absolute;
	bottom: -18px;
	height: 16px;
	line-height: 1;
	padding: 10px;
	border-radius: 50%;
	left: 46%;
	color: #fff;
}

.main {
	box-shadow: 0 0 20px #888888;
	padding: 30px;
	color: #666;
	font-size: 12px;
	width: 900px;
	margin: 30px auto;
	background-color: #ffffff;
}

input[type=text] {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

input[type=button] {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	border: 1px solid #ccc;
	background: #36f;
	color: #fff;
}
input[type=submit] {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	border: 1px solid #ccc;
	background: #36f;
	color: #fff;
}
.main table {
	width: 100%;
}

.main td {
	padding: 10px 0px;
}

.main td:nth-child(2n+1) {
	text-align: right;
	padding-right: 10px;
}

.main td:nth-child(2n+2) {
	text-align: left;
	text-indent: 5px;
}

.line {
	border-top: 1px solid #ccc;
}

.button-all {
	width: 512px;
	margin: 30px auto 0 auto;
	text-align: center;
	border-radius: 3px;
	position: relative;
}
.button-all>span{
	position: absolute;
	right: 0px;
	font-size: 12px;
	top: -20px;
}

.button-all>span>a{
	color: #ff6000;
	text-decoration: none;
}

.prefect-info {
	
}

.prefect-info td:nth-child(2n+1) {
	text-align: left;
	text-indent: 10px;
	width: 200px;
}
.prefect-info td:nth-child(2n+1) label {
	font-size: 16px;
	color: #484c51;
	line-height: 38px;
	height: 38px;
}
.prefect-info td:nth-child(2n+2) {
	text-align: left;
	text-indent: 15px;
}
.prefect-info td:nth-child(2n+2) label {
	color: #867f7f;
	font-size: 12px;
	line-height: 18px;
	height: 18px;
	display: inline-block;
	min-width: 88px;
}
input.error{
	border:2px solid red;
}
.error-type{
	color: red;
	text-align: center;
}
.success {
	text-align: center;
	padding: 240px 0 0 0;
	font-size: 18px;
	color: #666;
}